$background-color: white;
$font-color: black;
$font-size-h1: 5.5rem;

// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oxygen&display=swap');

* {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.1em;
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $font-color;
}

a {
  color: $font-color;
}
a:visited {
  color: $font-color;
}
a:hover {
  color: rgb(92, 91, 89);
}

@mixin f-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin f-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 1.2em;
}

.main-wrap {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 3em 4em;
  height: 100vh;
  header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 15%;
    z-index: 2;
    h1 {
      text-align: center;
      font-size: $font-size-h1;
      margin: 0;
      font-family: 'Libre Baskerville', serif;
    }
    p {
      text-align: center;
    }
  }
  .left {
    position: relative;
    background-color: #e7e7e7;
    float: left;
    width: 50%;
    height: 100%;
    .white {
      background-color: white;
      height: 100%;
      width: 30%;
      float: right;
    }
    p {
      position: absolute;
      width: 60%;
      top: 40%;
      left: -8%;
    }
    .haochen-image {
      width: 40%;
      position: absolute;
      bottom: 0;
    }
  }
  .right {
    position: relative;
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
    @include f-col;
    .about {
      padding-top: 5em;
    }
    .contacts {
      position: absolute;
      bottom: 0;
      @include f-cen;
      div {
        margin-right: 2em;
      }
    }
  }
}

// @media (min-width: 600px) {
//   .main-wrap {
//     width: 85%;
//     margin: auto;
//   }
// }
