$background-color: #8f8780;
$font-color: white;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro";
  line-height: 1.3em;
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $font-color;
}

a {
  color: $font-color;
}
a:visited {
  color: $font-color;
}
a:hover {
  color: wheat;
}

.f-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-col {
  flex-direction: column;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 1.2em;
}

header {
  margin: 1.6em 0 2.4em;
  h1 {
    text-align: center;
    margin: 0;
  }
  p {
    text-align: center;
  }
}

.main-wrap {
  padding: 0 1em 2em;
  .projects > div:not(:last-child) {
    margin-bottom: 2em;
  }
}

section:not(:last-child) {
  margin-bottom: 2.4em;
}

@media (min-width: 600px) {
  .main-wrap {
    width: 60%;
    margin: auto;
  }
}
